<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class="card card-plain">
              <div class="card-header card-header-danger">
                  <h4 class="card-title mt-0"> Contrôle de la partie du 03/09</h4>
                  <p class="card-category"> Visionnage de la partie et attribution des points</p>
              </div>
          </div>
      </div>
    </div>
    <div class="row"style="width: 100%; height: 700px; text-align: center;border: solid 3px">
      <div class="col-md-12">
        <!--<img src="../../assets/img/Bob-leponge.png" style="width: 1000px; height: 500px;"/>-->
        <iframe mozallowfullscreen="true" allow="autoplay; fullscreen"  src="https://unity.apollonian.fr/" style="border:0px #000000 none;" scrolling="no" msallowfullscreen="true" allowfullscreen="true" webkitallowfullscreen="true" allowtransparency="true" frameborder="0" marginheight="px" marginwidth="320px" width="100%" height="100%"></iframe>
      </div>
    </div>
    <br>
    <div class="row" *ngFor="let playerInfo of Players">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-warning">
                  <h4 class="card-title">{{playerInfo.player_name}}</h4>
                  <p class="card-category">Points accordés</p>
              </div>
              <div class="card-body table-responsive">
                <div class="card-body table-responsive">
                  <div class="card-footer">
                    <div class="card-category card-header-icon" style="text-align: center;">
                      <i class="fa fa-eye" style="font-size: 32px;">  {{playerInfo.eye_point}}</i>
                      <br>
                      <button class="add-button" style="background-color: green;" (click)="add_point(playerInfo.player_name, 'eye')" >+</button>
                      <button class="add-button" style="background-color: red;" (click)="remove_point(playerInfo.player_name, 'eye')">-</button>
                    </div><br/>
                    <div class="card-category card-header-icon" style="text-align: center;">
                        <i class="fa fa-users" style="font-size: 32px;">  {{playerInfo.team_point}}</i>
                        <br>
                        <button class="add-button" style="background-color: green;" (click)="add_point(playerInfo.player_name, 'team')" >+</button>
                        <button class="add-button" style="background-color: red;" (click)="remove_point(playerInfo.player_name, 'team')">-</button>
                    </div><br/>
                    <div class="card-category card-header-icon" style="text-align: center;">
                      <i class="fa fa-volume-up" style="font-size: 32px;">  {{playerInfo.chat_point}}</i>
                      <br>
                      <button class="add-button" style="background-color: green;" (click)="add_point(playerInfo.player_name, 'chat')" >+</button>
                      <button class="add-button" style="background-color: red;" (click)="remove_point(playerInfo.player_name, 'chat')">-</button>
                    </div><br/>
                    <div class="card-category card-header-icon" style="text-align: center;">
                        <i class="fa fa-thumbs-up" style="font-size: 32px;">  {{playerInfo.good_point}}</i>
                        <br>
                        <button class="add-button" style="background-color: green;" (click)="add_point(playerInfo.player_name, 'good')" >+</button>
                        <button class="add-button" style="background-color: red;" (click)="remove_point(playerInfo.player_name, 'good')">-</button>
                    </div><br/>
                    <div class="card-category card-header-icon" style="text-align: center;">
                        <i class="fa fa-thumbs-down" style="font-size: 32px;">  {{playerInfo.bad_point}}</i>
                        <br>
                        <button class="add-button" style="background-color: green;" (click)="add_point(playerInfo.player_name, 'bad')" >+</button>
                        <button class="add-button" style="background-color: red;" (click)="remove_point(playerInfo.player_name, 'bad')">-</button>
                    </div>
                  </div><br>
                  <form>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Commentaire ...">
                    </mat-form-field>
                  </form>
                </div>
              </div>
          </div>
      </div>
    </div>
    <a routerLinkActive="active" routerLink="/dashboard" style="display: inline-block; width: 100%;">
      <button style="width: 100%;" class="btn btn-danger pull-right">Fin de la partie</button>
    </a>
  </div>
</div>
