<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-danger">
                    <h4 class="card-title mt-0"> Résumé de la partie du 27/08</h4>
                    <p class="card-category"> Informations de la partie et point de chaque joueur</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">people_alt</i>
                </div>
                <p class="card-category">Nombre de Joueurs</p>
                <h3 class="card-title">3</h3>
            </div>
            <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">timer</i>
                </div>
                <p class="card-category">Durée de la partie</p>
                <h3 class="card-title">12min</h3>
            </div>
            <div class="card-footer">
                <div class="stats"></div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
          <div class="card">
              <div class="card-header card-header-warning">
                  <h4 class="card-title">Jean-Christophe Lhermitte</h4>
                  <p class="card-category">Points accordés</p>
              </div>
              <div class="card-body table-responsive">
                <div class="card-body table-responsive">
                  <div class="card-footer">
                    <div class="card-category card-header-icon">
                      <i class="fa fa-eye" style="font-size: 32px;">  2</i>
                    </div><br/>
                    <div class="card-category card-header-icon">
                        <i class="fa fa-users" style="font-size: 32px;">  3</i>
                    </div><br/>
                    <div class="card-category card-header-icon">
                      <i class="fa fa-volume-up" style="font-size: 32px;">  3</i>
                    </div><br/>
                    <div class="card-category card-header-icon">
                        <i class="fa fa-thumbs-up" style="font-size: 32px;">  2</i>
                    </div><br/>
                    <div class="card-category card-header-icon">
                        <i class="fa fa-thumbs-down" style="font-size: 32px;">  4</i>
                    </div>
                  </div><br>
                  <b><u>Commentaire : </u></b>
                  <p>Prends la tête de l'équipe et donnes des directives efficaces.</p>
                </div>
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Loïck Thorel</h4>
                <p class="card-category">Points accordés</p>
            </div>
            <div class="card-body table-responsive">
              <div class="card-footer">
                <div class="card-category card-header-icon">
                  <i class="fa fa-eye" style="font-size: 32px;">  2</i>
                </div><br/>
                <div class="card-category card-header-icon">
                    <i class="fa fa-users" style="font-size: 32px;">  3</i>
                </div><br/>
                <div class="card-category card-header-icon">
                  <i class="fa fa-volume-up" style="font-size: 32px;">  2</i>
                </div><br/>
                <div class="card-category card-header-icon">
                    <i class="fa fa-thumbs-up" style="font-size: 32px;">  3</i>
                </div><br/>
                <div class="card-category card-header-icon">
                    <i class="fa fa-thumbs-down" style="font-size: 32px;">  1</i>
                </div>
              </div><br>
              <b><u>Commentaire : </u></b>
              <p>Très bon élèment.</p><br/>
            </div>
        </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Cyndie Lefebvre</h4>
                <p class="card-category">Points accordés</p>
            </div>
            <div class="card-body table-responsive">
              <div class="card-body table-responsive">
                <div class="card-footer">
                  <div class="card-category card-header-icon">
                    <i class="fa fa-eye" style="font-size: 32px;">  5</i>
                  </div><br/>
                  <div class="card-category card-header-icon">
                      <i class="fa fa-users" style="font-size: 32px;">  3</i>
                  </div><br/>
                  <div class="card-category card-header-icon">
                    <i class="fa fa-volume-up" style="font-size: 32px;">  0</i>
                  </div><br/>
                  <div class="card-category card-header-icon">
                      <i class="fa fa-thumbs-up" style="font-size: 32px;">  4</i>
                  </div><br/>
                  <div class="card-category card-header-icon">
                      <i class="fa fa-thumbs-down" style="font-size: 32px;">  1</i>
                  </div>
                </div><br>
                <b><u>Commentaire : </u></b>
                <p>Discret mais s'adapte au groupe, bonne vision du jeu.</p>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
