<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">people_alt</i>
                      </div>
                      <p class="card-category">Joueurs actifs</p>
                      <h3 class="card-title">49
                          <small>Gamers</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">updated</i> Durant les dernières 24h
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">sports_esports</i>
                      </div>
                      <p class="card-category">Parties en cours</p>
                      <h3 class="card-title">3</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-facebook"></i>
                      </div>
                      <p class="card-category">J'aime</p>
                      <h3 class="card-title">75</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> Via Facebook
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-twitter"></i>
                      </div>
                      <p class="card-category">Followers</p>
                      <h3 class="card-title">245</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> Via Twitter
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Rechercher une partie</h4>
                      <p class="card-category">Renseigner le code de la partie afin de l'observer</p>
                  </div>
                  <div class="card-body table-responsive">
                    <form>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Code de la partie">
                      </mat-form-field>
                      <a routerLinkActive="active" routerLink="/game-admin">
                        <button type="submit" class="btn btn-danger pull-right">Rechercher</button>
                      </a>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
