<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Historique</h4>
                      <p class="card-category"> Historique des parties précédentes</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Date
                                  </th>
                                  <th>
                                      Nombre de joueur
                                  </th>
                                  <th>
                                      Durée
                                  </th>
                              </thead>
                              <tbody>
                                  <tr  routerLinkActive="active" routerLink="/table-list-detail">
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          27/08/2021
                                      </td>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          12min
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
